---
layout: default
---

<div class="home">
  <img src="/my-blog/images/profilePic.jpg" alt="{{ site.title | escape }}"></img>
  <h2>Ashish Burman</h2>
  <h4>Working as a Senior Software Deveoper in BluSynergy LLC. </h4>
  <p>Previously I worked In TCS for 3 years and 3 months approx, there i was more of a multipurpose resource to be honest, I was given bugs to solve, included in groups to deliver CRs from cient. Apart from busg and CRs there used to be a release cycle, every year 2 releases would be shipped from our ODC one is the manjor one and another a minor one. We were into a group of 3-4 resouces where one would be the lead of that group/module. There we had features divided into modules, say Claims,Money,Workflow etc such were the categories of modules. 
    I had hands on and a lot of learnings in the first 2 years of being in TCS and in the third year i was promoted to a different proejct with slightly newers technology.
  </p>
  <p>
    There i worked for a Product internal to TCS. 
  </p>
</div>




